:root {
  --grey: #6c757d;
  --navGrey: #f8f9fa;
}

/* ******************NavBar************************ */

.nav-link {
  display: flex;
  height: 100%;
  border: none;
  margin: 0px 10px;
  border-bottom-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  z-index: 10;
  background-color: var(--navGrey);
}
.nav-link a {
  text-decoration: none;
  color: var(--grey);
}
.navbar-collapse {
  justify-content: space-around;
}
/* Above Small */
@media all and (min-width: 576px) {
}
/* Above Medium */
@media all and (min-width: 768px) {
}
/* Above Large */
@media all and (min-width: 992px) {
}
/* Above X-Large */
@media all and (min-width: 1200px) {
}
