:root {
  --grey: #6c757d;
  --navGrey: #f8f9fa;
}

.App {
  text-align: center;
}
/* ******************NavBar************************ */

.navbar-collapse {
  justify-content: space-around;
}

.nav-link {
  display: flex;
  height: 100%;
  border: none;
  margin: 5px 10px;
  z-index: 10;
  background-color: var(--navGrey);
  padding: 2px 20px !important;
}
.navbar-nav a {
  text-decoration: none;
  color: var(--grey);
}

.nav-link a:hover {
  text-decoration: none;
  color: var(--grey);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.active {
  border: 2px solid var(--grey);
}
/* draw button */
button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px var(--navGrey);
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
button::before,
button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: var(--grey);
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: var(--grey);
  border-right-color: var(--grey);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: var(--grey);
  border-left-color: var(--grey);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: var(--grey);
  border-right-color: var(--grey);
}
.meet:hover::after {
  border-bottom-color: var(--grey);
  border-left-color: var(--grey);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}

/* **************************About Me*********************** */

.imgMain {
  margin: 3rem 0;
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.fullPage {
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
}

/* *********************Projects********************** */
.cardContainer .card {
  margin: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: rgb(240, 240, 240);
  margin-left: auto;
  margin-right: auto;
}
.cardContainer {
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
}
.card-img-top {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.imgContainer {
  position: relative;
  transition: 0.5s ease;
  overflow: hidden;
}
.imgContainer a {
  overflow: hidden;
}
.imgContainer:hover .card-img-top {
  opacity: 0.3;
}
.imgContainer:hover .viewLabel {
  opacity: 1;
  top: 20%;
}
.imgContainer:hover .techLeft {
  opacity: 1;
  left: 45%;
}
.imgContainer:hover .techRight {
  opacity: 1;
  left: 55%;
}
.imgContainer:hover .techContainer {
  opacity: 1;
  top: 70%;
}

.viewLabel {
  /* background-color: var(--grey); */
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
  padding: 0.5rem;
  border-radius: 16px;
  transition: 0.6s ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.techLeft {
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
  padding: 0.5rem;
  border-radius: 16px;
  transition: 0.6s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
.techRight {
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
  padding: 0.5rem;
  border-radius: 16px;
  transition: 0.6s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.techContainer {
  transition: 0.6s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
.techBadge {
  display: inline-flex;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 16px;
  background-color: var(--grey);
  z-index: +1;
  color: white;
}

/* *********************Resume********************** */
iframe {
  width: 100%;
  height: 90vh;
}

/* Above Small */
@media all and (min-width: 576px) {
}
/* Above Medium */
@media all and (min-width: 768px) {
}
/* Above Large */
@media all and (min-width: 992px) {
  .imgContainer:hover .techContainer {
    top: 80%;
  }
}
/* Above X-Large */
@media all and (min-width: 1200px) {
}
